{% extends "layout.html" %}

{% block title %}Kommentin muokkaus{% endblock %}

{% block content %}

<h2>Muokkaa kommenttia</h2>
<p>
  Voit muokata jättämääsi kommenttia mutta et poistaa sitä. <br />
  Kirjoitit alkuperäisen kommentin {{ comment.sent_at }}.
</p>

{% if session.user_id == comment.user_id %}
   <form action="/update_comment" method="post">
    <p>
      Viesti: <br />
      <textarea name="content" rows="6" cols="60" maxlength="1000" 
        required>{{ comment.content }}</textarea>
    </p>
    <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
    <input type="hidden" name="destination_id" value="{{ comment.destination_id }}"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" value="Tallenna"/>
  </form>
{% endif %}

<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
