{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

<h2>Etsi retkikohdetta</h2>
<form action="/find_destination" method="get">
  <p>
    Hakusana: <input type="text" name="query" value="{{ query }}
      "maxlength="50">
    <input type="submit" value="Etsi">
  </p>
</form>

{% if query %}
  <hr />
  <h3>Hakutulokset</h3>
  <ul>
    {% for destination in results %}
      <li>
        <a href="/destination/{{ destination.id }}">
          {{ destination.title }}
        </a>
        <br />
      </li>
    {% endfor %}
  </ul>
  {% if results|length == 0 %}
    <p>Hakusanalla ei löytynyt kohteita.</p>
  {% endif %}
{% endif %}

{% endblock %}
