{% extends "layout.html" %}

{% block title %}Kohteen kuvat{% endblock %}

{% block content %}

<h2>Kohteen {{ destination.title }} kuvat</h2>
<p>Olet lisännyt kohteesta {{ images | count }} kuvaa.</p>

{% if session.user_id == destination.user_id %}
  <h3>Lisää uusi kuva</h3>
  <p>Kuvan tiedostomuodon tulee olla .png tai .jpg ja kuvan maksimikoon 500 KB.</p>

  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      <label for="image">Valitse kuva</label>:
      <input type="file" name="image" id="image" accept=".jpg, .png" />
      <input type="hidden" name="destination_id" value="{{ destination.id }}"/>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lisää kuva"/>
    </p>
  </form>

  {% if images %}
    <h3>Poista kuvia</h3>
    <form action="/remove_images" method="post">
      {% for image in images %}
        <input type="checkbox" name="image_id" value="{{ image.id }}"/>
        <img src="/image/{{ image.id }}" alt="Kuva kohteesta {{ destination.title }}"/>
        <br />
      {% endfor %}
      <input type="hidden" name="destination_id" value="{{ destination.id }}"/>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <p>
        <input type="submit" value="Poista valitut" />
      </p>
    </form>
  {% endif %}
{% endif %}
<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
