<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Retkipolkusovellus</title>
</head>

<body>
  <h1>Tervetuloa retkipolkusovellukseen</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} ja identillä {{ session.user_id }}.
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <h2>Uusi retkikohde</h2>
  <p>
    <a href="/new_destination">Lisää uusi retkikohde</a> 
  </p>
  {% else %}
  <p>  
    <a href="/login">Kirjaudu sisään</a> tai 
    <a href="/register">rekisteröidy</a> jotta voit lisätä uuden retkikohteen tai kommentin.
  </p>  
  {% endif %}

</body>

</html>
