<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/main.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="header">
    <h1>Retkipolut</h1>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivulle</a></li>
        <li><a href="/find_destination">Etsi retkikohdetta</a></li>
        {% if session.user_id %}
          <li><a href="/new_destination">Lisää uusi retkikohde</a></li>
          <li><a href="/user/{{ session.user_id }}">Omat sivut</a></li>
          <li><a href="/logout">Kirjaudu ulos</a></li>
        {% else %}
          <li><a href="/login">Kirjaudu sisään</a></li>
          <li><a href="/register">Rekisteröidy</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  {% for message in get_flashed_messages(with_categories=True) %}
    {% if message[0] == "error" %}
      <div class="error"><b>{{ message[1] }}</b></div>
    {% elif message[0] == "success" %}
      <div class="success">{{ message[1] }}</div>
    {% endif %}
  {% endfor %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>

</html>
