{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}

<h2>Kirjaudu sisään</h2>
{% if not session.user_id %}
  <form action="/login" method="post">
    <p>
      <label for="username">Tunnus</label>: <br />
      <input type="text" name="username" id=username
        value="{{ filled.username }}" required/>
    </p>
    <p>
      <label for="password">Salasana</label>: <br />
      <input type="password" name="password" id="password" required/>
    </p>
    <input type="submit" value="Kirjaudu"/>
    {% if next_page %}
      <input type="hidden" name="next_page" value="{{ next_page }}"/>
    {% else %}
      <input type="hidden" name="next_page" value="/"/>
    {% endif %}
  </form>
{% else %}
  <p>
    Olet kirjautunut sisään nimellä {{ session.username }}.
  </p>

{% endif %}
<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
