{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}

<h2>Kirjaudu sisään</h2>
{% if not session.user_id %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ filled.username }}"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password"/>
    </p>
    <input type="submit" value="Kirjaudu"/>
    {% if next_page %}
      <input type="hidden" name="next_page" value="{{ next_page }}"/>
    {% else %}
      <input type="hidden" name="next_page" value="/"/>
    {% endif %}
  </form>
{% endif %}

{% endblock %}
