{% extends "layout.html" %}

{% block title %}Uusi retkikohde{% endblock %}

{% block content %}

<h2>Lisää uusi retkikohde</h2>
<form action="/create_destination" method="post">
  <p>
    <label for="title">Retkikohteen nimi</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required/>
  </p>
  <p>
    <label for="description">Kohteen kuvaus</label> <br />
    <textarea name="description" id="description" rows="8" cols="80" maxlength="2000"
      required></textarea>
  </p>

  {% for class in classes %}
    <p>
      <label for="class{{ class }}">{{ class }}</label> <br />
      <select name="classes" id="class{{ class }}">
      <option value="">(Valitse)</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" value="Tallenna"/>
</form>
<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
