<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Uusi retkikohde</title>
</head>

<body>
  <h1>Lisää uusi retkikohde</h1>
  <form action="/create_destination" method="post">
    <p>
      Retkikohteen nimi: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Kohteen kuvaus: <br />
      <textarea name="description" rows="5" cols="60" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Tallenna" />
  </form>
</body>

</html>