{% extends "layout.html" %}

{% block title %}Rekisteröityminen{% endblock %}

{% block content %}

<form action="/create" method="post">
  <h2>Luo uusi tunnus</h2>
  <p>
    Käyttäjätunnuksessa on oltava vähintään viisi ja salasanassa vähintään kahdeksan merkkiä.
  </p>

  <p>
    <label for="username">Tunnus</label>: <br />
    <input type="text" name="username" id="username"
      minlength="5" maxlength="25" value="{{ filled.username }}" required/>
  </p>
  <p>
    <label for="password1">Salasana</label>: <br />
    <input type="password" name="password1" id="password1"
      minlength="8" maxlength="30" required/>
  </p>
  <p>
    <label for="password2">Salasana uudestaan</label>: <br />
    <input type="password" name="password2" id="password2"
      minlength="8" maxlength="30" required/>
  </p>
  <input type="submit" value="Luo tunnus"/>
</form>
<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
