{% extends "layout.html" %}

{% block title %}Rekisteröityminen{% endblock %}

{% block content %}

<form action="/create" method="post">
  <h2>Luo uusi tunnus</h2>
  <p>
    Käyttäjätunnuksessa on oltava vähintään viisi ja salasanassa vähintään kahdeksan merkkiä.
  </p>

  <p>
    Tunnus: <br />
    <input type="text" name="username" minlength="5" maxlength="25" value="{{ filled.username }}"/>
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password1" minlength="8" maxlength="30"/>
  </p>
  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" minlength="8" maxlength="30"/>
  </p>
  <input type="submit" value="Luo tunnus"/>
</form>
<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
