{% extends "layout.html" %}

{% block title %}Retkikohteen poisto{% endblock %}

{% block content %}

<h2>Poista retkikohde</h2>
<p>
  Olet poistamassa retkikohteen <strong>{{ destination.title }}</strong>.<br />
  Haluatko varmasti poistaa tämän retkikohteen?
</p>
<form action="/remove_destination/{{ destination.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" name="remove" value="Kyllä, poista kohde"/>
  <input type="submit" name="back" value="Ei, palaa takaisin"/>
</form>

{% endblock %}
