{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<h2>{{ user.username }}</h2>

{% if user_destinations | count == 0 %}
  {% if session.user_id == user.id%}
    <p>Et ole lisännyt vielä yhtään retkikohdetta.</p>
  {% else %}
    <p>Käyttäjä ei ole vielä lisännyt yhtään retkikohdetta.</p>
  {% endif %}

{% else %}
  {% if session.user_id == user.id%}
    <p>
      Olet lisännyt {{ user_destinations | count }} kohdetta ja
      {{ user_comments | count }} kommenttia.
    </p>
    <hr />
    <h3>Omat retkikohteesi</h3>

  {% else %}
    <p>Käyttäjä on lisännyt {{ user_destinations | count }} kohdetta.</p>
    <hr />
    <h3>Käyttäjän lisäämät retkikohteet</h3>
  {% endif %}

  {% for destination in user_destinations %}
  <div class="destination">
    <p>
      <a href="/destination/{{ destination.id }}">
          {{ destination.title }}</a>
      {{ destination.creation_time }}
    </p>
  </div>
  {% endfor %}

  {% if session.user_id == user.id%}
    <hr />
    <h3>Omat kommenttisi</h3>
    {% for comment in user_comments %}
      <div class="comment">
        <p>
          <a href="/destination/{{ comment.destination_id }}#{{ comment.comment_id }}">
            {{ comment.title }}</a>
          {{ comment.sent_at }}
        </p>
      </div>
    {% endfor %}
  {% endif %}

{% endif %}

{% endblock %}
