{% extends "layout.html" %}

{% block title %}{{ destination.title }}{% endblock %}

{% block content %}

<h2>{{ destination.title }}</h2>
<p>
  Lisännyt <a href="/user/{{ destination.user_id }}">
    {{ destination.username }}</a>
    {{ destination.creation_time }}.
</p>

{% if session.user_id == destination.user_id %}
  <p>
    Voit <a href="/edit_destination/{{ destination.id }}">muokata</a>
    lisäämäsi kohteen tietoja, lisätä tai poistaa
    <a href="/images/{{ destination.id }}">kuvia</a> tai
    <a href="/remove_destination/{{ destination.id }}">poistaa</a> kohteen.
  </p>
{% endif %}

<ul>
  {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
  {% endfor %}
</ul>

<h3>Retkipolun kuvaus</h3>
<p>{{ destination.content | show_lines}}</p>

<h3>Kuvia kohteesta</h3>
{% if images %}
  {% for image in images %}
    <img src="/image/{{ image.id }}" alt="Kuva kohteesta
      {{ destination.title }}"/> <br />
  {% endfor %}
{% else %}
  <p>Kohteesta ei ole vielä kuvia.</p>
{% endif %}

<h3>Kommentit</h3>
{% if comments %}
  {% for comment in comments %}
    <p id="{{ comment.id }}"><a href="/user/{{ comment.user_id }}">
      {{ comment.username }}</a>
      ({{ comment.sent_at }})

      {% if session.user_id == comment.user_id %}
        <a href="/edit_comment/{{ comment.id }}">Muokkaa</a>
      {% endif %}
    </p>
    <p>{{ comment.content | show_lines }}</p>
    <hr />
  {% endfor %}
{% else %}
  <p>Kohteella ei ole vielä kommentteja.</p>
{% endif %}

{% if session.user_id %}
  <h3>Lisää uusi kommentti</h3>
  <form action="/create_comment" method="post">
    <p>
      <label for="content">Viesti</label>: <br />
      <textarea name="content" id="content" rows="6" cols="60" maxlength="1000"
        required></textarea>
    </p>
    <input type="hidden" name="destination_id"
      value="{{ destination.id }}"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" value="Lähetä"/>
  </form>
{% endif %}

<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
