{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<h2>Käyttäjä {{ user.username }}</h2>

{% if user_destinations | count == 0 %}
  <p>Käyttäjä ei ole vielä lisännyt yhtään retkikohdetta.</p>

{% else %}
  <p>Käyttäjä on lisännyt {{ user_destinations | count }} kohdetta.</p>
  <hr />
  <h3>Käyttäjän lisäämät retkikohteet</h3>
  <ul>
    {% for destination in user_destinations %}
      <li>
        <a href="/destination/{{ destination.id }}">
          {{ destination.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
