{% extends "layout.html" %}

{% block title %}{{ destination.title }}{% endblock %}

{% block content %}

<h2>{{ destination.title }}</h2>

<p>
  Kohteen lisäsi käyttäjä
  <a href="/user/{{ destination.user_id }}">{{ destination.username }}</a>
    {{ destination.creation_time }}.
</p>
{% if session.user_id == destination.user_id %}
  <p>
    <a href="/edit_destination/{{ destination.id }}">Muokkaa</a> |
    <a href="/remove_destination/{{ destination.id }}">Poista</a> |
    <a href="/images/{{ destination.id }}">Hallinnoi kuvia</a>
  </p>
{% endif %}

<h3>Kuvaus kohteesta</h3>
  {% if destination.content %}
    <p>{{ destination.content | show_lines}}</p>
  {% else %}
    <p>Käyttäjä ei ole lisännyt kohteelle kuvausta.</p>
  {% endif %}

{% if classes %}
  <h3>Retkipolun luokittelu</h3>
  <ul>
    {% for class in classes %}
      <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h3>Kuvia kohteesta</h3>
{% if images %}
  {% for image in images %}
    <img src="/image/{{ image.id }}" alt="Kuva kohteesta
      {{ destination.title }}"/>
  {% endfor %}
{% else %}
  <p>Kohteesta ei ole vielä kuvia.</p>
{% endif %}

<h3>Kohteen kommentit</h3>
{% if comments %}
  {% for comment in comments %}
    <p id="{{ comment.id }}"><a href="/user/{{ comment.user_id }}">
      {{ comment.username }}</a>
      ({{ comment.sent_at }})

      {% if session.user_id == comment.user_id %}
        <a href="/edit_comment/{{ comment.id }}">Muokkaa</a>
      {% endif %}

    </p>
    <p>{{ comment.content | show_lines }}</p>
  <hr />
  {% endfor %}

{% else %}
  <p>Kohteella ei ole vielä kommentteja.</p>
{% endif %}

{% if session.user_id %}
  <h3>Lisää uusi kommentti</h3>
  <form action="/create_comment" method="post">
    <p>
      Viesti: <br />
      <textarea name="content" rows="6" cols="60" maxlength="1000"
        required></textarea>
    </p>
    <input type="hidden" name="destination_id"
      value="{{ destination.id }}"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" value="Lähetä"/>
  </form>
{% endif %}
<p>
  <a href="{{ request.referrer if request.referrer else '/' }}">Takaisin</a>
</p>
{% endblock %}
